<div class="card-container">
  <div class="card show">Перша картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Картка</div>
  <div class="card">Остання картка</div>
</div>
